<%- include("../partials/header") %>

<div class="row">
  <div class="col-md-3">
    <div id="map"></div>
    <br />
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>" />
      <div class="card-body">
        <p class="float-right">
          Rs. <%= campground.price %>/night
        </p>
        <h5 class="card-title"><%= campground.name %></h5>
        <p>
          <em>Submitted by:
            <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>,
            <%= moment(campground.createdAt).fromNow() %></em>
        </p>
        <hr />
        <p class="card-text"><%= campground.description %></p>
        <% if(currentUser && campground.author.id.equals(currentUser._id) ||
        currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/campgrounds/<%= campground.slug %>/edit">Edit</a>
        <form action="/campgrounds/<%= campground.slug %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <a class="btn btn-success" href="/campgrounds/<%= campground.slug %>/comments/new">Add New Comment</a>
        </div>
        <hr />
        <div class="row">
          <% campground.comments.forEach(function(comment){ %>
          <div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="float-left">
                  <p class="card-title">
                    <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
                  </p>
                  <p class="card-text"><%= comment.text %></p>
                </div>
                <div class="float-right">
                  <p><%= moment(comment.createdAt).fromNow() %></p>

                  <% if(currentUser && comment.author.id.equals(currentUser._id)
                  || currentUser && currentUser.isAdmin){ %>
                  <div class="float-right">
                    <a href="/campgrounds/<%=campground.slug%>/comments/<%=comment._id%>/edit"
                      class="btn btn-sm btn-warning">EDIT</a>
                    <form class="delete-form"
                      action="/campgrounds/<%=campground.slug%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">DELETE</button>
                    </form>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function initMap() {
    let lat = <%= campground.lat %>;
    let lng = <%= campground.lng %>;
    let center = { lat: lat, lng: lng };
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: center,
      scrollwheel: false
    });
    let contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    let marker = new google.maps.Marker({
      position: center,
      map: map
    });
    marker.addListener('click', function () {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgFbsDUfG2XRtna-2-upsoj-wXP920qS4&callback=initMap"></script>

<%- include("../partials/footer") %>